<div class="widget-mailchimp widget">
	<h4 class="widget__title">訂閱新文章</h4>
	<div class="widget__content">
		<form class="widget-mailchimp__form" action="https://us17.list-manage.com/subscribe/post?u=5e4a47ee7b3ab359a7e5a28c9&amp;id=d5fcd01c57" method="post" target="_blank" novalidate>
			<div class="widget-bar">
				<input class="widget-bar__field" type="email" name="EMAIL" placeholder="電子郵件" required>
				<input class="widget-bar__submit" type="submit" value="訂閱">
			</div>
			<div style="position:absolute;left:-5000px" aria-hidden="true">
				<input type="text" name="b_5e4a47ee7b3ab359a7e5a28c9_d5fcd01c57" tabindex="-1" value="">
			</div>
		</form>
	</div>
</div>
