<div class="widget-mailchimp widget">
	<h4 class="widget__title">訂閱新文章</h4>
	<div class="widget__content">
		<form class="widget-mailchimp__form" action="https://kt-lab.us17.list-manage.com/subscribe/post" method="post" target="_blank" novalidate>
			<input type="hidden" name="u" value="3c347a121ca88ce9d071860a5">
			<input type="hidden" name="id" value="d5fcd01c57">
			<div class="widget-bar">
				<input class="widget-bar__field" type="email" name="MERGE0" placeholder="電子郵件" required>
				<input class="widget-bar__submit" type="submit" value="訂閱">
			</div>
			<div style="position:absolute;left:-5000px" aria-hidden="true">
				<input type="text" name="b_3c347a121ca88ce9d071860a5_d5fcd01c57" tabindex="-1" value="">
			</div>
		</form>
	</div>
</div>
