{{- $taxo := "categories" -}}
{{- with .Param $taxo -}}
<div class="meta__item-categories meta__item">
	{{- partial "svg/category.svg" (dict "class" "meta__icon") -}}
	<span class="meta__text">
		{{- range $index, $category := . }}
			{{- $categoryURL := printf "/%s/%s/" $taxo ($category | replaceRE ">" "" | urlize) | absURL -}}
			{{- $displayTitle := $category | title -}}
			{{- if in $category ">" -}}
				{{- $displayTitle = replaceRE "^.*>\\s*" "" $category | title -}}
			{{- end -}}
			{{- if gt $index 0 }}, {{ end -}}
			<a class="meta__link" href="{{ $categoryURL }}" rel="category">{{ $displayTitle }}</a>
		{{- end }}
	</span>
</div>
{{- end }}
