{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			<div class="post__meta meta">{{ partial "post_meta/date.html" . }}</div>
		</header>
		{{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
		{{- partial "post_toc.html" . -}}
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
		<footer class="post__footer">
			<div class="post__meta meta">{{ partial "post_meta/categories.html" . }}</div>
			{{- if .Params.tags }}
			{{ partial "post_tags.html" . }}
			{{- end }}
		</footer>
	</article>
</main>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}